*::selection{
  background-color: #FF751F;
}

button{
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #0B0B0A;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #D0368A 0%, #FF751F 99%);
  border-radius: 100px;
}
